<mat-card >
     <!-- TITLE -->
     
  <button style=" float: right; margin-right: 10px; margin-top: 15px; " mat-icon-button > 
    <mat-icon style="font-size: 35px;margin-right: 10px; color: black; margin-top: -18px;" aria-label="Side nav toggle icon" 
    (click)="tellNavToClose()">close</mat-icon>
  </button>

    <h2  style=" font-size: 30px; color: #1b1b1b; 
                margin-top: 15px; margin-bottom: 20px; margin-left:30px; 
                font-weight: 600;">
      Edit Property 
    </h2>
    <div style="margin-left:20px; display: inline-block; ">
      <button mat-raised-button  (click)="update()" style="background-color: teal; color: white;">UPDATE</button>
    </div>    <!--
    <div style="margin-left:20px; display: inline-block; ">
      <button mat-raised-button  (click)="add()" style="background-color: teal; color: white;">ADD</button>
    </div>-->
    <div style="margin-left:30px;  display: inline-block; ">
      <button mat-raised-button color="warn" (click)="deletePost()"  >DELETE </button>
    </div>
   

    <br>
    <!-- STEPPER'S FORMS -->
    <mat-horizontal-stepper labelPosition="bottom" #stepper [linear]="false">

    <!-- FORMS 1 -->
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup"  style="margin-left: 60px;">
          <ng-template matStepLabel>Property Address</ng-template>

          <!-- Google Map and Places Input -->
        
          <mat-icon aria-label="Side nav toggle icon">room</mat-icon>
          <mat-form-field  appearance="standard">
            <mat-label>Address</mat-label>
                <input matInput ngx-google-places-autocomplete 
                [options]='options'
                #placesRef="ngx-places" 
                (onAddressChange)="handleAddressChange($event)" 
                formControlName="address"
                [(ngModel)] = "formattedAdrress" 
                required/>
          </mat-form-field>

          <agm-map  [zoom]="zoom" [latitude]="lat" [longitude]="lng">
              <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map>
            
          <div style="margin-left: 35px; margin-top: -18px;">
            <div style="color: #818181; position: relative; top: 7px; 
                        font-size: 11px; width: 300px;">
                  City: {{city}}
            </div>
            <div style="color: #818181; position: relative; top: 8px; 
                        font-size: 11px; width: 300px;">
                  Street: {{street}}
            </div>
          </div><br><br>
          <!--  -->

          <mat-icon aria-label="Side nav toggle icon" >house</mat-icon>
          <mat-form-field appearance="standard" >
            <mat-label> Property Type </mat-label>
              <mat-select [(ngModel)] = "propertType" name = "propertTypes" formControlName="propertType" required>
              <mat-option *ngFor="let propertType of propertTypes" [value]="propertType">
                {{propertType}}  
              </mat-option>
            </mat-select>
          </mat-form-field><br><br><br>
  
          <mat-divider style="width: 90%; margin-left: 40px;"></mat-divider><br>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
    </mat-step>

    <!-- FORMS 2 -->
    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup" style="margin-left: 60px;" >
          <ng-template matStepLabel>Basic Details</ng-template>
          
          <mat-icon aria-label="Side nav toggle icon" 
                    style="margin-right: 20px; font-size: 25px; 
                           position:relative; top: 10px;">construction</mat-icon>
          <mat-form-field appearance="standard" >
            <mat-label>Year Built</mat-label>
            <mat-select  [(ngModel)] = "yearBuilt" name = "yearBuilt" formControlName="yearBuilt" required>
              <mat-option *ngFor="let year of years" [value]="year">
                  {{year}}  
              </mat-option>
            </mat-select>
          </mat-form-field>   
          <br>
  
          <mat-icon aria-label="Side nav toggle icon" 
                    style="margin-right: 20px; font-size: 30px; 
                           position:relative; top: 10px;">square_foot</mat-icon>
          <mat-form-field  appearance="standard">
            <mat-label>Square foot Size</mat-label>
            <input matInput type="number" 
                [(ngModel)] = "sqf"
                name = "sqf"
                min="0"
                step="1"
                formControlName="sqf" 
                required>
          </mat-form-field>
  
          <mat-icon  aria-label="Side nav toggle icon" 
                     style="margin-right: 20px; font-size: 30px; position:relative; 
                            top: 10px;">house_siding</mat-icon>
          <mat-form-field  appearance="standard">
            <mat-label>Floors</mat-label>
            <input matInput type="number"
            [(ngModel)] = "floors"
              name = "floors"
              min="0"
              oninput="this.value|=0"
              formControlName="floors" 
              required>
          </mat-form-field>
          <br>
  
          <mat-icon aria-label="Side nav toggle icon" 
                    style="margin-right: 20px; font-size: 30px; position:relative; 
                           top: 10px;">bed</mat-icon>
          <mat-form-field  appearance="standard">
            <mat-label>Bedrooms </mat-label>
            <input matInput type="number"
              [(ngModel)] = "bedrooms"
                name = "bedrooms"
                min="0"
                step="1"
                formControlName="bedrooms" 
                required>
          </mat-form-field>
  
          <mat-icon  aria-label="Side nav toggle icon" 
                     style="margin-right: 20px; font-size: 30px; position:relative; 
                           top: 10px;">shower</mat-icon>
          <mat-form-field  appearance="standard">
            <mat-label>Bathrooms</mat-label>
            <input matInput type="number"
              [(ngModel)] = "bathrooms"
                name = "bathrooms"
                min="0"
                step="1"
                formControlName="bathrooms" 
                required>
          </mat-form-field>
          <br><br>
  
          <mat-divider style="width: 90%; margin-left: 40px;"></mat-divider><br>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>


    <!-- FORMS 3 -->
      <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup" style="margin-left: 60px;">
          <ng-template matStepLabel>Extra Details</ng-template>

          <mat-form-field appearance="standard">
            <mat-label>Hallway Type</mat-label>
            <mat-select [(ngModel)] = "hallwayType" name = "hallwayType" formControlName="hallwayType" required>
              <mat-option *ngFor="let hallwayType of hallwayTypes" [value]="hallwayType">
                {{hallwayType}}  
              </mat-option>
            </mat-select>
          </mat-form-field><br><br>

          <div>
            <div style="display: inline-block;" >
            <mat-label>Heating Type</mat-label><br><br>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" 
                             [(ngModel)]=heatingType  
                             name = "heatingType"  
                             formControlName="heatingType" 
                             required> 
            <mat-radio-button style="margin-right: 20px; ;" class="example-radio-button" *ngFor="let heatingType of heatingTypes" [value]= heatingType>
              {{heatingType}}  
            </mat-radio-button>
          </mat-radio-group>
          </div>

        <div style="display: inline-block;">
          <mat-label>Managmnt Type</mat-label><br><br>
          <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" 
                           [(ngModel)]=managmntType  
                           name = "managmntType" 
                           formControlName="managmntType" 
                           required>
          <mat-radio-button  class="example-radio-button" *ngFor="let managmntType of managmntTypes" [value]=managmntType>
            {{managmntType}} 
          </mat-radio-button>
        </mat-radio-group>
        </div>
      </div>

        <mat-icon aria-label="Side nav toggle icon" >garage</mat-icon>
        <mat-form-field  appearance="standard">
          <mat-label>Number Inner Parking Lot</mat-label>
          <input matInput type="number"
          [(ngModel)] = "N_Parkinglot"
            name = "N_Parkinglot"
            min="0"
            oninput="this.value|=0"
            formControlName="N_Parkinglot"
            required>
        </mat-form-field>

        <mat-icon aria-label="Side nav toggle icon" >departure_board</mat-icon>
        <mat-form-field appearance="standard">
          <mat-label>Time To Public Transport            </mat-label>
          <mat-select  [(ngModel)] = "timeToPublicTransport" name = "timeToPublicTransport" formControlName="timeToPublicTransport" required>
            <mat-option *ngFor="let timeToPublicTransport of timesToPublicTransport" [value]="timeToPublicTransport">
              {{timeToPublicTransport}}  
            </mat-option>
          </mat-select>
        </mat-form-field> 

        <h2 style="font-size: 16px; color: #1b1b1b; 
                   margin-top: 5px; margin-bottom: -15px; 
                  font-weight: 600;">
              Facilities Near By
        </h2>
        <mat-icon aria-label="Side nav toggle icon" >park</mat-icon>
        <mat-form-field  appearance="standard">
          <mat-label>Parks</mat-label>
          <input matInput type="number"
          [(ngModel)] = "parks"
            name = "parks"
            min="0"
            oninput="this.value|=0"
            formControlName="parks"
            required>
        </mat-form-field><br>
    
        <mat-icon aria-label="Side nav toggle icon" >school</mat-icon>
        <mat-form-field  appearance="standard">
          <mat-label>Elementary / High School</mat-label>
          <input matInput type="number"
          [(ngModel)] = "elementry"
            name = "elementry"
            min="0"
            oninput="this.value|=0"
            formControlName="elementry"
            required>
        </mat-form-field>

        <mat-icon aria-label="Side nav toggle icon" >school</mat-icon>
        <mat-form-field  appearance="standard">
          <mat-label>University</mat-label>
          <input matInput type="number"
          [(ngModel)] = "university"
            name = "university"
            min="0"
            oninput="this.value|=0"
            formControlName="university"
            required>
        </mat-form-field>

          <mat-divider style="width: 90%; margin-left: 40px;"></mat-divider><br><br>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>



      <!-- FORMS 4 -->
    <mat-step [stepControl]="fourthFormGroup" optional>
      <form [formGroup]="fourthFormGroup" style="margin-left: 60px;" >
        <ng-template matStepLabel>Upload Image</ng-template><br>
        <button  mat-raised-button (click)="fileInput.click()" color="primary" style=" border-radius: 20px; width: 200px; margin-left: 35%;">
          <mat-icon aria-label="Side nav toggle icon" style="text-align: center; color: white;">cloud_upload</mat-icon><br> 
              <div >Upload Image </div> 

        </button>

          <!-- Image Input -->
        <input hidden  type="file" #fileInput id="uploadFile" (change)="uploadFileEvt($event)" name="uploadFile" multiple="multiple" 
                accept="image/*"  /><br><br>

       <mat-progress-bar *ngIf = "spinnerStatus" mode="indeterminate" value="40"></mat-progress-bar>
     
        <!-- Image Display After Load -->
            <img  *ngIf = "imageURL" style="width: 430px; height: 250px; margin-left: 21%;" src=  '{{imageURL}}'><br><br>

            
          <mat-divider style="width: 90%; margin-left: 40px;"></mat-divider>

        <br>
        <div>

          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <!-- FORMS 5 -->
      <mat-step [stepControl]="fifthFormGroup">
        <form [formGroup]="fifthFormGroup" style="margin-left: 60px;">
          <ng-template matStepLabel>Estimate and Set Price</ng-template><br>

          <mat-icon aria-label="Side nav toggle icon" style="margin-right: 20px; font-size: 25px; position:relative; top: 10px;">monetization_on</mat-icon>
          <mat-form-field  appearance="standard">
            <mat-label>Sell Price</mat-label>
            <input matInput type="number" 
                [(ngModel)] = "sellPrice"
                name = "sellPrice"
                min="0"
                step="1"
                formControlName="sellPrice" 
                required>
          </mat-form-field>

          <button  style=" border-radius: 4px; width: 150px; height: 35px;"
          mat-flat-button color="primary" (click)="predict()" type='button'>
          Estimate Price  
        </button>

          <mat-divider style="width: 90%; margin-left: 40px;"></mat-divider><br><br>
          <div>
            <button mat-button matStepperPrevious>Back</button>
          </div>
        </form>
      </mat-step>
        
    
        

  
    </mat-horizontal-stepper>
   </mat-card>

  