<mat-sidenav-container class="sidenav-container" >

  <!-- Properties Edit (SideNAV) -->


<mat-sidenav  position="end" #drawer class="sidenav" fixedInViewport ="false" 
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) == 'over'"
      [opened]="(isHandset$ | async) === true">
  
    <post-form-edit 
    [postId] = "postId"
    [propertType] = "propertType"
    [formattedAdrress] = "formattedAdrress"
    [city] = "city"
    [street] = "street"
    [lat] = "lat"
    [lng] = "lng"
    [yearBuilt] = "yearBuilt"
    [sqf] = "sqf"
    [bedrooms] = "bedrooms"
    [bathrooms] = "bathrooms"
    [floors] = "floors"
    [hallwayType] = "hallwayType"
    [heatingType] = "heatingType"
    [managmntType] = "managmntType"
    [N_Parkinglot] = "N_Parkinglot"
    [timeToPublicTransport] = "timeToPublicTransport"
    [parks] = "parks"
    [elementry] = "elementry"
    [university] = "university"
    [sellPrice] = "sellPrice"
    [imageURL] = "imageURL"
    (closeEdit) = "drawer.close(); ">
  </post-form-edit>

  </mat-sidenav>

  <mat-sidenav-content  >
   
 <!-- My Properties Title -->


  <h2  style="text-align: center; font-size: 40px; color: #1e2955; 
              margin: auto;
              margin-top: 50px;
              font-weight: 600;">
              MY PROPERTIES
  </h2>

<!-- Posts in GRID View-->

  <mat-card  style="width: 1500px; margin: auto; margin-top: 40px; background: #95abb6; 
                    margin-bottom: 100px;    border-radius: 0 ;border: 4px solid #f2f2f2;
                    box-shadow: 2px 2px 4px #cccccc;" >

    <h2  style="font-size: 15px; color: #ffffff; margin-left: 16px; font-weight: 400px; 
                margin-bottom: 0px; padding: 0px;">
        * Press Property to modify
    </h2>
    <mat-grid-list   cols="3" rowHeight="350px" >

      <mat-grid-tile  *ngFor = "let post of posts,  let i = index">
        <mat-card class="example-card"  >
        <mat-card-content matRipple style=" background-image: url({{post.imageURL}});"(click)="TurnToEditState(post.id, i); drawer.toggle();" >

              <div style=" width: 250px; padding-top: 5px; padding-left: 5px; padding-bottom: 1px;
                          background: hsla(0, 0%, 100%, 0.6); ">
                    <mat-card-title style="font-weight:900; color: #196d44;"> 
                      $ {{post.sellPrice.toLocaleString()}}
                    </mat-card-title>
              </div> 

              <div style="padding-left: 5px; background: hsla(0, 0%, 100%, 0.6); height: 80px; top: 150px; position: relative;">
                  <div style="padding-top: 10px;display: inline-block; font-weight: bold; width: 180px;">
                      <mat-card-title  style="font-size: 17px; font-weight: 800;">                       
                      {{post.street}}
                      </mat-card-title>
                      <mat-card-title style="font-size: 14px;">   
                      {{post.city}}
                      </mat-card-title>
                    </div>

                    <div style="width: 80px; display: inline-block; text-align: center;">
                      <mat-icon  aria-label="Side nav toggle icon" 
                                style=" font-size: 25px; position:relative; 
                                top: 5px;">
                          house
                      </mat-icon><br>
                      <mat-label style="font-size: 12px; font-weight: 700;">  
                      {{post.propertType}} 
                      </mat-label>
                      </div>

                      <div style="width: 35px; display: inline-block; text-align: center;">
                      <mat-icon  aria-label="Side nav toggle icon" 
                      style=" font-size: 25px; position:relative; 
                        top: 5px;">bed</mat-icon><br>
                      <mat-label style="font-size: 12px; font-weight: 700;"> 
                      {{post.bedrooms}} 
                      </mat-label>
                      </div>

                      <div style="width: 35px; display: inline-block; text-align: center;">
                      <mat-icon  aria-label="Side nav toggle icon" 
                      style=" font-size: 25px; position:relative; 
                        top: 5px;">shower</mat-icon><br>
                      <mat-label style="font-size: 12px; font-weight: 700;">
                      {{post.bathrooms}} 
                      </mat-label>
                      </div>

                      <div style="width: 50px; display: inline-block; text-align: center;">
                      <mat-icon  aria-label="Side nav toggle icon" 
                      style=" font-size: 25px; position:relative; 
                        top: 5px;">square_foot</mat-icon><br>
                      <mat-label style="font-size: 12px; font-weight: 700;">  
                      {{post.sqf}} 
                      sqf </mat-label>
                      </div>


                      <div style="width: 80px; display: inline-block; text-align: center;">
                      <mat-icon  aria-label="Side nav toggle icon" 
                      style=" font-size: 25px; position:relative; 
                        top: 5px;">departure_board</mat-icon><br>
                      <mat-label style="font-size: 12px; font-weight: 700;">  
                      {{post.timeToPublicTransport}} 
                      </mat-label>
                      </div>

                    </div>

        </mat-card-content>
        </mat-card>    
      </mat-grid-tile>  
    </mat-grid-list> 
  </mat-card >
<br><br>

<div style="height: 50px;"></div>

<footer style="height: 38px; width: 100%; background-color: #586174; 
              padding-top: 7px; position: fixed; left: 0; bottom: 0;">
    <h2  style=" font-size: 13px; color: #ffffff; margin-left:30px; font-weight: 500; ">
    
    &copy; Advanced Internet Technologies Cource - JCE - Noy, Shahar, Evgeni
    </h2>
</footer>



</mat-sidenav-content></mat-sidenav-container>
