.example-card {
    margin: 10px;
    padding: 5px;
    width: 100%;
  

  }

  .mat-card-content {
  background-size:100% 100%;
  height: 260px;
  padding-top: 10px;
  cursor: pointer;


  }
  
 #example-header-image {
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


  .sidenav {
    width: 1000px;
    background: #ffffff73
    
  }



  .sidenav .mat-toolbar {
    background: inherit;
    display: block;
    padding-top: 17px;
    text-align: center;
    color: white;
    margin-bottom: 50px;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .mat-nav-list .mat-list-item:focus,
  .mat-action-list .mat-list-item:focus,
  .mat-list-option:focus {
    background: rgb(57, 82, 117) !important;
    border-left: 4px solid rgb(108, 201, 245);
  
  }
  
  .mat-nav-list .mat-list-item:hover,
  .mat-action-list .mat-list-item:focus,
  .mat-list-option:focus {
    background: rgb(57, 82, 117) !important;
  
  }
  
  .mat-sidenav-content .mat-toolbar{
    background-color: #ffffff00;
    border-bottom: 2px solid rgb(228, 228, 228);
    margin-bottom: 50px;
    position: relative;
    min-height: 100vh;
  
  }
  
  
  .sidenav-container {
    position: fixed;
     height: 100%;
     min-height: 100%;
     width: 100%;
     min-width: 100%;  
  background: #f5f5f500
  }
  
  