.mat-card {
    max-width: 600px;
    margin: auto;
    margin-top: 50px;
    border: 15px solid rgb(242, 242, 242);
    border-radius: 0;

  }

  .mat-form-field{
      margin-left: 150px;
      width: 300px;
  }


.mat-raised-button:enabled{
    background-color: rgb(21, 151, 97);
    color: white;


  }
.mat-raised-button:disabled{
    background-color: rgb(199, 195, 195);


}