<mat-card >

  <button style=" float: right; margin-right: 10px; "(click)=" router.navigate(['/']);" mat-icon-button > 
    <mat-icon style="font-size: 35px;margin-right: 10px; " aria-label="Side nav toggle icon">close</mat-icon>
  </button>
  

   <h2  style=" font-size: 30px; color: #1b1b1b; 
                margin-top: 10px; margin-bottom: 5px; margin-left:30px; 
                font-weight: 600;">
Log in    
</h2>
<h2  style=" font-size: 14px; color: #1b1b1b; 
margin-top: 10px; margin-bottom: 20px; margin-left:30px; 
font-weight: 200;">
To publish properties you need to Login first
</h2>


    <form #signinForm="ngForm" >
      <div class="example-container">
        <p>
            <mat-form-field  appearance="standard" >
              <mat-label >Email</mat-label>
              <input matInput
                [(ngModel)] = "email"
                name = "email"
                required>

            </mat-form-field>
          </p> 
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Password</mat-label>
              <input  matInput [type]="hide ? 'password' : 'text'"
                [(ngModel)] = "password" 
                name = "password" 
                required>

                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

                  </button>

            </mat-form-field>
          </p>                                       
        <div style=" margin: auto;">
            <button (click)="onSubmit()" style="margin-left: 175px; border-radius: 40px; width: 250px; height: 40px;" mat-raised-button color="primary" 
                    [disabled]="!signinForm.form.valid">
                    Sign In          
                    </button>

              
                    <h2  style=" font-size: 14px; color: #1b1b1b; 
                    margin-top: 10px; margin-bottom: 20px; text-align: center;
                    font-weight: 700;  cursor: pointer;" (click)=" router.navigate(['/signup']);">
                     Dont have an account? CLICK HERE            </h2>

                     <div *ngIf="hasError"  >
                      <h2  style=" font-size: 13px; color: #d31414; 
                      margin-top: 10px; margin-bottom: 5px; margin-left:30px; 
                      font-weight: 600;">
                                    {{errorMessage}}
                                  </h2>
              </div>
            
  
        </div>
      </div>
    </form>
   </mat-card>
  
   <footer style="height: 40px; width: 100%; background-color: #586174; position: fixed; bottom: 0 ">
    <h2  style=" font-size: 13px; color: #ffffff; 
                 margin-top: 8px; margin-bottom: 5px; margin-left:30px; font-weight: 500;">
      &copy; Advanced Internet Technologies Cource - JCE - Noy, Shahar, Evgeni
    </h2>
</footer>