.sidenav-container {
  position: fixed;
   height: 100%;
   min-height: 100%;
   width: 100%;
   min-width: 100%;  
  background: #f0f0f0
}



.sidenav .mat-toolbar {
  background: inherit;
  display: block;
  padding-top: 17px;
  text-align: center;
  color: white;
  margin-bottom: 50px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-nav-list .mat-list-item:focus,
.mat-action-list .mat-list-item:focus,
.mat-list-option:focus {
  background: rgb(57, 82, 117) !important;
  border-left: 4px solid rgb(108, 201, 245);

}

.mat-nav-list .mat-list-item:hover,
.mat-action-list .mat-list-item:focus,
.mat-list-option:focus {
  background: rgb(57, 82, 117) !important;

}

.mat-sidenav-content .mat-toolbar{
  background-color: #ffffff;
  border-bottom: 2px solid rgb(228, 228, 228);
  margin-bottom: 50px;

}


.header .mat-toolbar{
  background-color: #ffffff;
  border-bottom: 2px solid rgb(228, 228, 228);
  height: 75px;

}


.spacer{
width: 100%;

}

a:link {
  color: #000000;
  background-color: transparent;
  text-decoration: none;
  font-weight: 700;
}
a:visited {
  color: #000000;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: rgb(32, 33, 80);
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  background-color: transparent;
  text-decoration: underline;
}
