<!--------- Header  ------>
<header class="header"  >
  <!-- Logo -->

  <mat-toolbar >
    <img src="https://buyhome.com/wp-content/uploads/2016/06/buyhomelogo.png"  (click)="this.router.navigate(['/']);" style="width:179px;height:100px;cursor: pointer;">
    <div class = 'spacer' ></div>

  <!-- Publish Butoons Options-->
    <button *ngIf = "!(Auth.getUser()|async)" (click)="router.navigate(['/login']);" mat-button style="border-radius: 30px; min-width: 180px; margin-right: 10px; background-color: rgb(0, 190, 32); color: white;">
      <mat-icon aria-label="Side nav toggle icon">add</mat-icon>
       Publish Property   
    </button>

    <button  *ngIf = "(Auth.getUser()|async)" (click)="router.navigate(['/post-form']);" mat-button style="border-radius: 30px; min-width: 180px; margin-right: 10px; background-color: rgb(0, 190, 32); color: white;">
      <mat-icon aria-label="Side nav toggle icon">add</mat-icon>
       Publish Property   
       {{state_edit}}
    </button>

    <!-- User button + list after log in -->
  
    <button style="margin-right: 32px;" *ngIf = "(Auth.getUser()|async)" mat-icon-button [matMenuTriggerFor]="menu"> 
      <mat-icon  aria-label="Side nav toggle icon">person</mat-icon>
    </button>
    
    <mat-menu #menu="matMenu" xPosition="before">
      <button mat-menu-item (click)="router.navigate(['/my-posts']);" >My Properties</button>
      <button mat-menu-item (click)="Auth.logout(); this.router.navigate(['/']);">Logout</button>
    </mat-menu>
  
    <!-- Login/Resiter Buttons -->

     <button mat-button style="width: 120px;" routerLink="/login"  *ngIf = "!(Auth.getUser()|async)" routerLinkActive="active">
      Login
    </button>   

     <button mat-button style="width: 120px;" routerLink="/signup" *ngIf = "!(Auth.getUser()|async)" routerLinkActive="active">
      Register
    </button>  
  </mat-toolbar>
</header>
  

    <!-- Messages bar -->

  <div class="promo-bar" style="text-align: center; background-color:#d9f3ff; height: 25px; padding-top: 5px;">
    Help for sellers and owners during the COVID-19 crisis. <a href="https://www.google.com/">Learn more.</a> 
  </div>

<!--------- Main Content (Routing)  ------>
<mat-sidenav-container class="sidenav-container" >
  <mat-sidenav-content>
   
    <!-- Add Content Here -->
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
