.mat-card {
  
    max-width: 900px;
    margin: auto;
    margin-bottom: 100px;
    top: 20px;
    border: 2px solid rgb(242, 242, 242);
    box-shadow: 1px 1px 4px rgb(204, 204, 204);
    border-radius: 2px;
    padding-left: 10px;


  }

.mat-form-field{
    width: 70px;
    margin-right: 70px;
    
}

mat-label{
    color:rgb(153, 153, 153);
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -10px;
  }
  
  .example-radio-button {
    margin: 5px;
  }

  mat-icon{
    color: rgb(111, 199, 199);
  }
  


  agm-map {
    height: 200px;
    width: 380px;
    float: right;
    margin-right: 30px;
    margin-top: 10px;
    box-shadow: 2px 2px 4px rgb(161, 161, 161);
  }
  
  .mat-form-field{
    width: 270px;
}
mat-icon{
  margin-right: 10px; 
  font-size: 25px; 
  position:relative; 
  top: 10px;
  color: rgb(111, 199, 199);
}



