<h1 mat-dialog-title> The Property Estimated Price Is: </h1>
<div mat-dialog-content style="width:220px;margin:auto; text-align: center; background-color:rgba(178, 224, 245, 0.774);">
  <h2 style=" margin-bottom: 0px;">$ {{data.prediction.toLocaleString()}}</h2>
</div>
<br><br>
  <p>Would you like to use this estimation?</p>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClickNo()">No Thanks</button>
  <button mat-button (click)="onNoClickYes()" cdkFocusInitial>Yes</button>
</div>