<!-- Main Promo Image-->
  <div style="text-align: center; position: relative;
              height: 500px; background-size:cover; background-repeat: no-repeat; 
              background-image:url(https://res.cloudinary.com/onmap-prod/image/upload/f_auto,q_auto,w_2880/v1556787548/home_promotion/home_page)">

      <div style=" width: 1200px; color: white; font-size: 60px; font-weight: 800; position: absolute;
                  top: 50%;
                  left: 50%;
                  -ms-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);"> 
              Let’s find a home that’s perfect for you. 
      </div> 
  </div>

<!-- Properties Title-->

  <h2  style="text-align: center; font-size: 40px; color: #1e2955; 
              margin: auto;
              margin-top: 50px;
              font-weight: 600;">

        PROPERTIES
  </h2>

<!-- Posts in GRID View-->

  <mat-card style="width: 1500px; margin: auto; margin-top: 40px; background: #e4dddd; margin-bottom: 100px; border: 4px solid #f2f2f2;
  box-shadow: 2px 2px 4px rgb(204, 204, 204);" >
    <mat-grid-list   cols="3" rowHeight="350px">
      <mat-grid-tile  *ngFor = "let post of posts,  let i = index">

       <mat-card>
          <mat-card-content style=" background-image: url({{post.imageURL}});">

              <div style=" width: 250px; padding-top: 5px; padding-left: 5px; padding-bottom: 1px;
                           background: hsla(0, 0%, 100%, 0.6); ">
                    <mat-card-title style="font-weight:900; color: #196d44;"> 
                      $ {{post.sellPrice.toLocaleString()}}
                    </mat-card-title>
              </div> 

              <div style="padding-left: 5px; background: hsla(0, 0%, 100%, 0.6); height: 80px; top: 150px; position: relative;">
                  <div style="padding-top: 10px;display: inline-block; font-weight: bold; width: 180px;">
                      <mat-card-title  style="font-size: 17px; font-weight: 800;">                       
                      {{post.street}}
                      </mat-card-title>

                      <mat-card-title style="font-size: 14px;">   
                      {{post.city}}
                      </mat-card-title>
                  </div>
        
                  <div style="width: 80px; display: inline-block; text-align: center;">
                    <mat-icon  aria-label="Side nav toggle icon" style=" font-size: 25px; position:relative; top: 5px;">
                      house 
                    </mat-icon><br>
                    <mat-label style="font-size: 12px; font-weight: 700;">  
                      {{post.propertType}} 
                    </mat-label>
                  </div>

                  <div style="width: 35px; display: inline-block; text-align: center;">
                      <mat-icon  aria-label="Side nav toggle icon" style=" font-size: 25px; position:relative; top: 5px;">
                        bed
                      </mat-icon><br>
                      <mat-label style="font-size: 12px; font-weight: 700;"> 
                        {{post.bedrooms}} 
                      </mat-label>
                  </div>

                  <div style="width: 35px; display: inline-block; text-align: center;">
                      <mat-icon  aria-label="Side nav toggle icon" style=" font-size: 25px; position:relative; top: 5px;">
                        shower</mat-icon><br>
                      <mat-label style="font-size: 12px; font-weight: 700;">
                        {{post.bathrooms}} 
                      </mat-label>
                  </div>

                  <div style="width: 50px; display: inline-block; text-align: center;">
                      <mat-icon  aria-label="Side nav toggle icon" style=" font-size: 25px; position:relative; top: 5px;">
                        square_foot</mat-icon><br>
                      <mat-label style="font-size: 12px; font-weight: 700;">  
                      {{post.sqf}} sqf 
                      </mat-label>
                  </div>

                
                  <div style="width: 80px; display: inline-block; text-align: center;">
                      <mat-icon  aria-label="Side nav toggle icon" style=" font-size: 25px; position:relative;top: 5px;">departure_board</mat-icon><br>
                    <mat-label style="font-size: 12px; font-weight: 700;">  
                      {{post.timeToPublicTransport}} 
                      </mat-label>
                  </div>
              </div>

          </mat-card-content>
       </mat-card>
      </mat-grid-tile>  
    </mat-grid-list> 
  </mat-card >

  <footer style="height: 138px; width: 100%; background-color: #586174; padding-top: 7px; ">
    <h2  style=" font-size: 13px; color: #ffffff; margin-left:30px; font-weight: 500;">
      
      &copy; Advanced Internet Technologies Cource - JCE - Noy, Shahar, Evgeni
    </h2>
  </footer>