/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    
    /*
    background: linear-gradient(180deg, #195fc9 40%, #e1e9e8 30%);*/

}
/*
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle , .mat-radio-outer-circle {
    border-color: rgb(150, 150, 155) !important;
  }
  
  .mat-radio-button.mat-accent .mat-radio-inner-circle{
    background-color: rgb(6, 134, 96) !important;
  }
*/
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color:  rgb(22, 92, 125) !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color:  rgb(22, 92, 125) !important;
  z-index: 3;
}

.mat-radio-button .mat-radio-outer-circle {
  border-color:  rgb(22, 92, 125) !important; 
  z-index: 3;
}